a {
	color: #6c9;
	text-decoration: none;
}
.clearfix::after,
.clearfix::before {
	content: " ";
	display: table;
}
.clearfix::after {
	clear: both;
}
.bold {
	color: #4a4e51;
	font-weight: 400;
}
.resume-wrapper {
	position: relative;
	text-align: center;
	height: 100%;
	width: 100%;
	min-height: 460px;
	margin: 5rem auto;
	-webkit-box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
	background: #fff;
	border-radius: 12px;
	max-width: 1000px;
	position: relative;
}

.profile {
	background: #f5f5f5;
	/* background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%); */
	width: 40%;
	float: left;
	color: #9099a0;
}
@media (max-width: 850px) {
	.profile {
		width: 100%;
	}
}
.profile .name-wrapper {
	float: left;
	width: 60%;
}
.profile h1 {
	font-size: 2.5em;
	text-align: left;
	font-family: "Varela Round", sans-serif;
	color: #6944ff;
	text-transform: uppercase;
	line-height: 1em;
	margin-top: -5rem;
}

@media (max-width: 450px) {
	.profile h1 {
		font-size: 1.8em;
		padding-top: 20px;
	}
}
.profile li {
	margin-bottom: 10px;
}

@media (max-width: 1200px) {
	.profile .picture-resume-wrapper {
		width: 100%;
	}
}

.profile .contact-info {
	margin-top: 100px;
	font-weight: 300;
}
@media (max-width: 1200px) {
	.profile .contact-info {
		margin-top: 70px;
	}
}
@media (max-width: 450px) {
	.profile .contact-info {
		margin-top: 50px;
	}
}
.profile .list-titles {
	float: left;
	text-align: left;
	font-weight: 600;
	width: 40%;
	color: #6944ff;
}
.profile .list-content {
	float: left;
	width: 60%;
	text-align: left;
	font-weight: 300;
}
.profile .contact-presentation {
	text-align: left;
	font-weight: 300;
	margin-top: 100px;
	margin-bottom: 100px;
}
@media (max-width: 1200px) {
	.profile .contact-presentation {
		margin-top: 70px;
		margin-bottom: 70px;
	}
}
@media (max-width: 850px) {
	.profile .contact-presentation {
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

.experience {
	background: #1e1e24;
	width: 60%;
	float: left;
	position: relative;
	color: #9099a0;
	font-weight: 300;
	min-height: 100%;
	min-height: 100vh;
}
@media (max-width: 850px) {
	.experience {
		width: 100%;
	}
}
.experience h3.experience-title {
	color: #6c9;
	text-align: left;
	text-transform: uppercase;
	font-size: 1.2em;
	margin-bottom: 20px;
	font-weight: 400;
}
.experience .company-wrapper {
	width: 30%;
	float: left;
	text-align: left;
	padding-right: 5%;
	margin-bottom: 60px;
}
@media (max-width: 450px) {
	.experience .company-wrapper {
		width: 100%;
		margin-bottom: 20px;
	}
}
.experience .job-wrapper {
	width: 70%;
	float: left;
	text-align: left;
	padding-right: 5%;
	margin-bottom: 60px;
}
@media (max-width: 450px) {
	.experience .job-wrapper {
		width: 100%;
		margin-bottom: 40px;
	}
}
.experience .experience-title {
	color: white;
	margin-bottom: 15px;
}
.section-padding {
	padding: 60px 60px 40px 40px;
}
@media (max-width: 850px) {
	.section-padding {
		padding: 80px 15% 40px 10%;
	}
}
@media (max-width: 450px) {
	.section-padding {
		padding: 40px 10% 20px 5%;
	}
}
.section-wrapper {
	width: 50%;
	float: left;
	text-align: left;
	color: #9099a0;
	font-weight: 300;
	margin-bottom: 20px;
}
@media (max-width: 450px) {
	.section-wrapper {
		width: 100%;
	}
}
.section-wrapper:nth-child(3) {
	padding-right: 8%;
}
.section-wrapper h3.section-title {
	color: #6c9;
	text-align: left;
	text-transform: uppercase;
	font-size: 1.2em;
	margin-bottom: 20px;
	font-weight: 400;
}
.section-wrapper .skill-percentage {
	margin-bottom: 10px;
	position: relative;
}
.section-wrapper .skill-percentage::after {
	content: "";
	width: 100%;
	height: 6px;
	background: #4a4e51;
	display: block;
	margin-top: 3px;
}
.section-wrapper .skill-percentage::before {
	content: "";
	height: 6px;
	background: #6c9;
	position: absolute;
	margin-top: 3px;
	bottom: 0;
}
.section-wrapper .skill-percentage:nth-child(1)::before {
	width: 80%;
	animation: skill_1 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(2)::before {
	width: 90%;
	animation: skill_2 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(3)::before {
	width: 50%;
	animation: skill_3 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(4)::before {
	width: 60%;
	animation: skill_4 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(5)::before {
	width: 95%;
	animation: skill_5 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(6)::before {
	width: 70%;
	animation: skill_6 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(7)::before {
	width: 50%;
	animation: skill_6 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(8)::before {
	width: 50%;
	animation: skill_6 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(9)::before {
	width: 40%;
	animation: skill_6 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(10)::before {
	width: 30%;
	animation: skill_6 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(11)::before {
	width: 30%;
	animation: skill_6 0.6s ease;
}
@keyframes skill_1 {
	from {
		width: 0%;
	}
	to {
		width: 80%;
	}
}
@keyframes skill_2 {
	from {
		width: 0%;
	}
	to {
		width: 90%;
	}
}
@keyframes skill_3 {
	from {
		width: 0%;
	}
	to {
		width: 50%;
	}
}
@keyframes skill_4 {
	from {
		width: 0%;
	}
	to {
		width: 60%;
	}
}
@keyframes skill_5 {
	from {
		width: 0%;
	}
	to {
		width: 70%;
	}
}
@keyframes skill_6 {
	from {
		width: 0%;
	}
	to {
		width: 70%;
	}
}
@keyframes skill_7 {
	from {
		width: 0%;
	}
	to {
		width: 70%;
	}
}
